<main>
  <div class="position-relative">
    <section class="section section-lg bg-gradient-success">
      <div class="container pt-lg pb-300">
        <div class="row text-center justify-content-center">
          <div class="col-lg-10">
            <h2 class="display-3 text-white">Share Your Message Link</h2>
            <p class="lead text-white">Copy and share your message link to receive messages right away.</p>
          </div>
          <div class="col-lg-10" style="margin-top: 60px;">
            <a
              class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
              <span class="btn-inner--icon"><i class="ni ni-lock-circle-open"></i></span>
              <span class="btn-inner--text" (click)="copyElement()">Copy Link to Clipboard</span>
            </a>
          </div>
        </div>
      </div>

      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <div class="col-lg-12 fa-align-center" *ngIf="msgArray.length===0">
      <p class="display-4" style="text-align: center;"><strong>You do not have any messages</strong></p>
    </div>
    <div class="col-lg-12 fa-align-center">
      <div *ngFor="let msg of msgArray | paginate:{itemsPerPage:3,currentPage:pageCount}">
        <app-message-card [messageItem]="msg"></app-message-card>
      </div>
      <pagination-controls *ngIf="msgArray.length>0" responsive="true"
                           (pageChange)="pageCount=$event"></pagination-controls>
    </div>

  </div>
</main>
